* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  /* temporary parameter */
  /* border: 1px solid black; */
}

.row {
  /* position: relative; */
}

main > .main-block:nth-child(even) {
  background-color: #f6f6f6;
  /* background-color: black; */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* .col {
  float: left;
} */

[class*="col-"] {
  float: left;
}

.col-1x6 {
  width: calc(100% / 6);
  height: 100%;
}

.col-2x6 {
  width: calc(100% / 6 * 2);
}
.col-3x6 {
  width: calc(100% / 6 * 3);
}
.col-4x6 {
  width: calc(100% / 6 * 4);
}
.col-5x6 {
  width: calc(100% / 6 * 5);
}
.col-6x6 {
  width: 100%;
}

.align-right {
  text-align: right;
}

.vertical-align-middle {
  vertical-align: middle;
}
.simple-centered {
  text-align: center;
}

.hz-centered {
  left: 50%;
  position: relative;
  transform: translate(-50%);
}
.vt-centered {
  top: 50%;

  position: relative;
  transform: translate(0%, -50%);
}

.margin-lr-20px {
  margin-left: 20px;
  margin-right: 20px;
}

.padding-tb-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.padding-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-tb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-tb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.padding-lr-20px {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-lr-40px {
  padding-left: 40px;
  padding-right: 40px;
}

.static-height-80 {
  height: 80px;
}

.bottom-border-purple {
  border-bottom: 2px solid #8ea1e1;
}
