/* BLOCK */
.header {
  background-image: url("../img/jumbo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list {
  list-style: none;
  vertical-align: middle;
}

.button {
  font-size: 20px;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 28px;
  color: black;
  background-color: white;
  text-decoration: none;
}

.title {
  font-size: 56px;
  text-align: left;
}

.paragraph {
  font-size: 20px;
  text-align: left;
}

.main-block {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #23272a;
}

/* ELEMENTS */
.header__logo {
  display: inline-block;
}
.header__logo__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.list__item {
  font-size: 16px;
}

.list__item__link {
  display: inline-block;
  text-decoration: none;
  color: white;
}

.main-section__figure__image {
  width: 80%;
  object-fit: cover;
}
.main-section__figure__stars {
  transform: translateY(30px);
}

.footer__flag-figure {
  display: inline-block;
  height: 20px;
}
.footer__flag-figure__image {
  height: 100%;
  object-fit: contain;
}

.footer__select {
  background: #23272a;
  color: white;
  border: none;
}

/* MODIFIERS */
.button--dense {
  font-size: 14px;
  padding: 7px 16px;
}

.button--black {
  background-color: #23272a;
  color: white;
}

.button--purple {
  background-color: #8ea1e1;
  color: white;
}

.title--white {
  color: white;
}

.title--purple {
  color: #7289da;
}
.title--centered {
  text-align: center;
}

.title--secondary {
  font-size: 48px;
}

.title--tertiary {
  font-size: 30px;
}

.title--h5 {
  font-size: 16px;
}
.paragraph--white {
  color: white;
}

.paragraph--centered {
  text-align: center;
}

.list--centered {
  text-align: center;
}

.col-1x6--right,
.main-section__figure--right {
  float: right;
  text-align: right;
}

.row__centered-1260px {
  max-width: 1260px;
  margin: 0 auto;
}

.list__item--horizontal {
  display: inline-block;
}

.list__item__link--icon {
  font-size: 24px;
  margin-right: 24px;
}
